.button {
  position: relative;

  -webkit-appearance: none;
  appearance: none;

  display: inline-block;

  padding: 12px 20px;
  border: none;
  outline: 0;
  background-color: transparent;

  font: inherit;
  text-align: center;
  line-height: 20px;
  word-break: break-word;
  word-wrap: wrap;
  text-decoration: none;

  overflow-wrap: break-word;
  cursor: pointer;
}

.button--default,
.button--learn-more {
  min-width: 210px;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--base-color);
  transition: all 0.2s linear 0s;
}

.button--default:hover,
.button--learn-more:hover {
  background-color: var(--active-base-color);
}

.button--learn-more:hover {
  text-indent: -20px;
}

.button--learn-more::after {
  content: '';

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -3px;
  top: 50%;

  height: 100%;
  width: 40px;
  margin-top: -8px;

  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 20px;

  opacity: 0;
  transition: all 0.2s linear 0s;
}

.button--learn-more:hover::after {
  opacity: 1;
  text-indent: 0px;
}
