.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 991px) {
  .container {
    max-width: 920px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 20px;
  }
}