.home {
  margin-bottom: 80px;
}

.home__motto {
  font-size: 24px;
}

.home__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.quizzes__buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.quizzes__button {
  max-width: 360px;
  color: #ffffff;
  background-color: #1f477d;
}

.quizzes__button:hover {
  color: #ffffff;
  background-color: #244d83;
}

@media (max-width: 575px) {
  .home__motto {
    font-size: 17px;
  }
}