.main-nav {
  z-index: 10;
}

.main-nav--open .main-nav__list {
  position: fixed;
  top: 98px;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;

  background-color: #fafafa;

  overflow-x: hidden;
  overflow-y: auto;
}

.main-nav__toggle {
  display: none;
}

.main-nav__toggle > span {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  vertical-align: bottom;
  background-color: #000000;
  transition: background-color 0.3s;
}

.main-nav__toggle > span::before,
.main-nav__toggle > span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
    transform-origin: 50% 50%;
    transition: top 0.15s 0.15s ease,
                transform 0.15s ease;
}

.main-nav__toggle > span::before {
  top: 8px;
}

.main-nav__toggle > span::after {
  top: -8px;
}

.main-nav--open .main-nav__toggle span {
  background-color: initial;
}

.main-nav--open .main-nav__toggle > span::before,
.main-nav--open .main-nav__toggle > span::after {
  top: 0;
  transition: top 0.15s ease,
              transform 0.15s 0.15s ease;
}

.main-nav--open .main-nav__toggle > span::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.main-nav--open .main-nav__toggle > span::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.main-nav__item-link {
  font-size: 1.7rem;
  font-weight: 500;
}

.main-nav__item-link:hover,
.main-nav__item-link:focus,
.main-nav__item-link--active {
  opacity: 0.6;
}

.main-nav__item-link:active {
  opacity: 0.3;
}

@media (max-width: 991px) {
  .main-nav__toggle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    margin: -10px -10px 0 0;
    padding: 10px 10px;

    box-sizing: content-box;
    user-select: none;
  }

  .main-nav__list {
    display: none;

    flex-direction: column;
    padding-top: 40px;
  }

  .main-nav--open .main-nav__list {
    display: flex;
  }

  .main-nav__item-link {
    font-size: 2.4rem;
  }
}
