html {
  font-family: var(--main-font);
}

body {
  font-size: 15px;
  line-height: 1.2;
}

input,
textarea,
button {
  font-family: var(--main-font);
}

h1, h2 {
  font-size: 53px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 26px;
}

@media (max-width: 575px) {
  h1, h2 {
    font-size: 28px;
  }
}